<!DOCTYPE html>
<html>
<head>
  <title>Reset Password</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
  <h2>Reset Password</h2>
  <form action="/register/reset-password" method="post" onsubmit="return validatePassword()">
    <!-- Tambahkan input tersembunyi untuk menyimpan token -->
    <input type="hidden" id="token" name="token">

    <div class="form-group">
      <label for="new-password">New Password:</label>
      <input type="password" class="form-control" id="new-password" name="new-password" placeholder="Enter Your New Password">
    </div>
    <div class="form-group">
      <label for="confirm-password">Confirm Password:</label>
      <input type="password" class="form-control" id="confirm-password" name="confirm-password" placeholder="Confirm Your New Password">
    </div>
    <button type="submit" class="btn btn-primary">Reset Password</button>
  </form>
</div>

<script>
// Ambil token dari URL
const urlParams = new URLSearchParams(window.location.search);
const token = urlParams.get('token');

// Setel nilai token dalam elemen input tersembunyi
document.getElementById('token').value = token;

function validatePassword() {
    var newPassword = document.getElementById("new-password").value;
    var confirmPassword = document.getElementById("confirm-password").value;

    if (newPassword !== confirmPassword) {
        alert("Kata sandi baru dan konfirmasi kata sandi tidak cocok.");
        return false;
    }

    return true;
}
</script>
</body>
</html>
